@media (max-width: 600px) {
  .search-form-container input {
    width: 314px;
  }
}

@media (max-width: 1199px) {
  .search-form-container {
    margin: auto;
  }
}

@media (min-width: 615px) {
  .search-form-container input {
    width: 75vw;
  }
}

@media (min-width: 1200px) {
  .search-form-container {
    margin-left: 9.5px;
  }
}

.search-form-container input {
  border-radius: 0.2rem;
  border: 1px solid white;
  /* width: 75vw; */
  background-color: black;
}
